@import url('https://fonts.googleapis.com/css2?family=Anton&family=Antonio:wght@700&family=Poppins:wght@600&display=swap');

:root{
    --raisin-black: hsla(345, 6%, 13%, 1);
    --selective-yellow: hsla(44, 97%, 49%, 1);
    --silver: hsla(0, 0%, 69%, 1);
    --ut-orange: hsla(32, 100%, 49%, 1);
}

*{
    margin: 0;
}

.principal{
    background-color: var(--silver);
    font-family: 'Poppins', sans-serif;
}

.tarjeta{
    margin: 100px 100px 100px 100px;
    padding-top: 150px;
}

.imagen{
    background-color: var(--silver);
}

.texto{
    background-color: var(--silver);
}

.card-text{
    color: var(--raisin-black);
}